!!!
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='format-detection', content='telephone=no')
    link(rel='stylesheet', href='/libs/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/libs/bootstrap/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body

    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a(href="/").brand Gambit

    .container
      block content

    script(id='update-room-list', type="text/x-handlebars-template")
      |  <ul class="unstyled">
      |     {{#each rooms}}
      |       <li class="shelf"><a href="/room/{{id}}">{{name}}</a></li>
      |     {{/each}}
      |  </ul>

    script(id='player-list', type="text/x-handlebars-template")
      |  <ul class="unstyled">
      |     {{#each players}}
      |       <li class="clearfix shelf">
      |         <span class="pull-left">{{name}}</span>
      |         <span class="pull-right end-round {{score_badge}}">{{score}}</span>
      |       </li>
      |     {{/each}}
      |  </ul>

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
    script(src="/libs/bootstrap/js/bootstrap.min.js")
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/handlebars-1.0.0.beta.6.js")
    script(src="/javascripts/client.js")
