
.clearfix
  .pull-left
    input(type="text", name="name", value=room.name)
  .pull-right
    input(type="text", name="player", placeholder="Player Name...")

// cards
ul.thumbnails.cards
  each card in [1,2,3,5,8,13]
    li.span2
      a.card
        span= card

// players

#players
